{% extends 'base.html' %}
{% load static %}

{% block content %}

<header class="masthead-home">
    <div class="container h-80">
        <div class="row align-items-center justify-content-center text-center mt-2 pt-5">
            <div class="col-10 align-self-end">
                <h1 class="text-uppercase">GET UP FOR ANIMALS</h1>
                <hr class="divider my-4" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="text-white-75 font-weight-light mb-5">Slogan - Proposition de valeur</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-2 offset-3">
                <a type="button" class="btn btn-outline-dark" href="{% url 'association:search_asso' %}">
                Je fais un don
                </a>
            </div>
            <div class="col-2 offset-2">
                <a type="button" class="btn btn-outline-dark" href="{% url 'account:association_registration' %}">
                J'inscris mon asso
                </a>
            </div>
        </div>
    </div>
</header>

<section class="homepage-section" id="about-us">
    <div class="container h-40 pt-3">
        <div class="row align-items-center justify-content-center text-center">
            <h3 class="mb-5"> ABOUT US </h3>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="{% static 'img/video_presentation.mp4' %}" id="home-video"></iframe>
                </div>
            </div>
            <div class="col-8">
                    <div class="row">
                        <div class="col">
                            <p>Our Mission</p>
                        </div>
                        <div class="col">
                            <p>Our Plan</p>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col ">
                            <p>Our Vision</p>
                        </div>
                        <div class="col">
                            <p>Our Care</p>
                        </div>
                    </div>
            </div>
            </div>
        </div>
    <div class="row">
        <div class="offset-10">
            <button type="button" class="btn btn-link" id="know-more-about-us"> En savoir plus ... </button>
        </div>
    </div>
    </div>
</section>

<section class="homepage-section" id="services">
    <div class="container h-40 pt-3">
        <div class="row align-items-center justify-content-center text-center">
            <h3 class="mb-5 "> SERVICES </h3>
        </div>
    </div>
</section>

<section class="homepage-section" id="call-to-action">
    <div class="container h-40 pt-3">
        <div class="row align-items-center justify-content-center text-center">
            <h3 class="mb-5 "> CALL TO ACTION </h3>
        </div>
    </div>
</section>

{% endblock %}

