{% extends 'base.html' %}
{% load static %}

{% block content %}

{% for asso in association %}

<header class="masthead-home-asso">
    <div class="container">
        <div class="row pt-4 text-center">
            <div class="col" >
                <img src="{{MEDIA_URL}}{{ asso.picture }}" style="border-radius: 5%;">
            </div>
            <div class="col">
                <h3 class="text-uppercase"><strong>{{ asso.name }}</strong></h3>
            </div>
            <div class="col pt-3">
                <a type="button" class="btn btn-info" href="{% url 'association:make_donation' association_id=asso.id %}">
                Faire un Don
                </a>
            </div>
        </div>
    </div>
</header>


<div class="container" id="asso-title" style="display:none;">
    <div class="row pt-2">
        <div class="offset-2 col-2">
            <a href="#collects" class="badge badge-light">
                COLLECTES
            </a>
        </div>
        <div class="offset-1 col-2">
            <a href="#events" class="badge badge-light">
                EVENTS
            </a>
        </div>
        <div class="offset-1 col-2">
            <a href="#about" class="badge badge-light">
                QUI SOMMES-NOUS ?
            </a>
        </div>
    </div>
</div>
<hr class="fixed-subnav-list-hr">


<section class="about-section" id="about">
    <div class="container h-40 pt-3">
        <div class="row">
            <div class="col" style="display:none;">
                <p> <small> Notre vidéo arrive </small></p>
                </div>
            <div class="col text-right">
                <h4 class="mb-3 align-items-center" style="text-decoration: underline;"> NOUS ALLONS VOUS PARLER DE NOUS ! </h4>
                <p> {{ asso.description }} </p>
            </div>
        </div>

        <div class="row">
            <div class="col mt-4 mb-4">
                <p style="text-decoration: underline;"><em> Notre mission: </em></p>
                <p style="text-decoration: underline;"><em>Nos actions: </em></p>
                <p style="text-decoration: underline;"><em> Nos difficultés: </em></p>
                <p style="text-decoration: underline;"><em> Nos besoins / Comment vous aider? </em></p>
            </div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="col">
               <p style="text-decoration: underline;"> Retrouvez-nous! </p>
                <p><small> {{ asso.name }}@asso.com</small> </p>
                </div>
            <div class="col" style="text-align:center; display:none;">
                <button type="button" class="btn btn-outline-dark" id="contact-button">
                Nous contacter
                </button>
            </div>
            <div class="col" style="display:none;">
                <p style="text-decoration: underline; color: red; text-align: right;"><small> Signaler cette page </small></p>
                </div>

        </div>
    </div>
</section>

{% endfor %}

{% endblock %}