{% extends 'base.html' %}
{% load static %}

{% block content %}

{% for asso in association %}

<header class="masthead-home-asso">
    <div class="container">
        <div class="row">

            <div class="col pt-4" >
                <img src="{{MEDIA_URL}}{{ asso.picture }}" style="border-radius: 5%;">
            </div>
            <div class="col pt-4">
                <h3 class="text-uppercase">{{ asso.name }}</h3>
            </div>
        </div>
    </div>
</header>

<hr class="fixed-subnav-list-hr">


<section class="search-asso">
    <div class="container">
        <div class="row mb-4 pt-3 text-center">

            <div class="col">
                <h3> Ma Donation</h3>

                <p class="pt-4">Merci pour votre don!</p>

                <form action="{% url 'association:make_donation' asso.id %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit" />
                </form>

            </div>
        </div>
    </div>
</section>

{% endfor %}


{% endblock %}


