{% extends 'base.html' %}
{% load static %}

{% block content %}

{% for asso in association %}

<header class="masthead-home-asso">
    <div class="container">
        <div class="row">

            <div class="col pt-4" >
                <img src="{{MEDIA_URL}}{{ asso.picture }}" style="border-radius: 5%;">
            </div>
            <div class="col pt-4">
                <h3 class="text-uppercase">{{ asso.name }}</h3>
            </div>
        </div>
    </div>
</header>

<hr class="fixed-subnav-list-hr">


<section class="search-asso">
    <div class="container">
        <div class="row mb-4 pt-3 text-center">

            <div class="col">
                <h3> Ma Donation</h3>

                    <p class="pt-4">Merci, {{name}}, pour ta générosité! Tu peux finaliser ton don en validant le montant ci-dessous.</p>

                    <p>Ton Don: {{ amount }} € </p>
                    <a type="button" class="btn btn-success" href="{% url 'association:validate_donation' email=email amount=amount association_id=asso.id%}" id="payment-button">
                        Valider
                    </a>

                </div>

        </div>

    </div>
</section>


{% endfor %}

<!-- Core theme JS-->
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript" src="{% static 'js/donation.js' %}"></script>

{% endblock %}