{% extends 'base.html' %}
{% load static %}

{% block content %}

<header class="masthead-search-asso">
    <div class="container" style="height: 250px;">

        <div class="row mt-5 pt-5">
            <div class="col-12 text-center">
                <h4> Trouver vos assos en un clic ou découvrez-en de nouvelles !</h4>
            </div>
        </div>
        <hr class="divider my-2 py-2"/>

        <div class="row mt-4">
            <div class="form-group offset-1 col-3">
                <form class="form-inline" action="{% url 'association:search_country' %}" method="post" id="search_country">
                    {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="search_country" placeholder="Pays" aria-label="search_country" aria-describedby="basic-addon2">
                    <input type="button" value="Valider" class="btn btn-success" onclick="submitFormsCountry()"/>
                </div>
                </form>
            </div>
            <div class="offset-1 col-3">
                <form class="form-inline" action="{% url 'association:search_city' %}" method="post" id="search_city">
                    {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="search_city" placeholder="Ville | CP" aria-label="search_city" aria-describedby="basic-addon2">
                    <input type="button" value="Valider" class="btn btn-success" onclick="submitFormsCity()"/>
                </div>
                </form>
            </div>
            <div class="offset-1 col-3">
                <form class="form-inline" action="{% url 'association:search_name' %}" method="post" id="search_name">
                    {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="search_name" placeholder="Nom" aria-label="search_name" aria-describedby="basic-addon2">
                    <input type="button" value="Valider" class="btn btn-success" onclick="submitFormsName()"/>
                </div>
                </form>
            </div>
        </div>
    </div>
</header>

<section class="search-asso">
    <div class="container mt-4">
        {% if search|length_is:"0" %}
        <div class="row text-center">
        <div class="col-12">
         <p class="text-muted"> Désolé, il n'y a aucune association correspondant à votre recherche </p>
        </div>
        </div>

        {% else %}

            {% for asso in search %}



         <a href="{% url 'association:home_asso' association_id=asso.id %}" style="text-decoration: none;">
            <div class="row my-3">
                <div class="col-12">
                <div class="result-view">
                    <div class="row">
                    <div class="col-2">
                        <img src="{{MEDIA_URL}}{{ asso.picture }}" style="border-radius: 10%; width: 7em; height:7em;">
                    </div>
                    <div class="col-2 pt-4">
                        <p style="color: black;"> {{ asso.name }} </p>
                    </div>
                    <div class="col-5 offset-1 pt-4">
                        <p style="color: black;"> {{ asso.description }} </p>
                    </div>
                    <div class="col-2 pt-4">
                        <p style="color: black;"> {{ asso.category }} </p>
                    </div>
                </div>
                    </div>
                </div>
            </div>

        </a>

        {% endfor %}
        {% endif %}
    </div>

</section>



{% endblock %}