{% extends 'base.html' %}
{% load static %}

{% block content %}

{% for asso in association %}

<header class="masthead-home-asso">
    <div class="container h-80">
        <div class="row">

            <div class="col-3 pt-4">
                <img src="{{MEDIA_URL}}{{ asso.picture }}" style="border-radius: 5%;">
            </div>
            <div class="offset-1 col-5 pt-4">
                <h2 class="text-uppercase">{{ asso.name }}</h2>
            </div>
        </div>
    </div>
</header>

<hr class="fixed-subnav-list-hr">


<section class="search-asso">
    <div class="container h-40 pt-3">
        <div class="row mb-4">

            <div class="col-6 offset-3">
                <h5 class="border-asso"> Ma Donation</h5>

                <p class="pt-4">Votre don de {{ amount }} € a été confirmé</p>

                <p> Un mail de confirmation vous a été envoyé à l'adresse suivante:  {{ email }} </p>

                <a href="{% url 'home:home' %}" id="back-home"> Retour au menu principal</a>

            </div>
        </div>
    </div>
</section>

{% endfor %}


{% endblock %}