{% extends 'base.html' %}
{% load static %}

{% block content %}

<header class="masthead-account-asso">
    <div class="container h-100">
        <div class="row mt-5 pt-5">
            <div class="col-12 text-center">
            <h2 class="text-uppercase" style="color: black;">
                <a href="{% url 'account:welcome_association' %}" class="badge badge-light"> MON COMPTE
                </a>
            </h2>
            </div>
        </div>
        <hr class="divider my-4 py-4"/>
    </div>
</header>

<section class="account-infos">
    <div class="container h-100">
        <div class="row mt-1 mb-4">
            <div class="col-md-3 col-5">
                <ul class="list-group">
                  <a href="{% url 'account:show_information' %}" class="list-group-item list-group-item-action">
                      MES INFOS </a>
                  <a href="{% url 'account:show_association' %}" class="list-group-item list-group-item-action">
                      MON ASSOCIATION</a>
                  <a href="#" class="list-group-item list-group-item-action">
                      MES DONS</a>
                  <a href="#" class="list-group-item list-group-item-action">
                      MES COLLECTES</a>
                  <a href="#" class="list-group-item list-group-item-action">
                      BESOIN D'AIDE ?</a>
                    <a href="{% url 'account:logout' %}" class="list-group-item list-group-item-action">
                        SE DECONNECTER</a>
                </ul>
                </div>

        <div class="col-md-8 offset-md-1 col-7">
            {% for association in my_association %}
            <h3 class="justify">{{association.name}}</h3>

            <div class="row mt-3">
                <div class="col-5">
                <img src="{{ association.picture.url }}" style="width: 10vw; height:10vw;">
                </div>

            </div>
            <div class="row mt-4">
                <div class="col-12">
                <h5 style="font-weight: bold;"> Description de l'asso </h5>
                    <p> {{association.description}}</p>
                    </div>
            </div>
            <div class="row">
                 <div class="col-12">
                <h5 p style="font-weight: bold;"> Les catégories </h5>
                     <p> {{association.category}} </p>
                 </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <a href="{% url 'account:update_asso' %}">
                <input type="button" value="Modifier les informations" class="btn btn-success btn-sm" />
                    </a>
                    </div>
            </div>
            {% endfor %}
        </div>
            </div>
    </div>
</section>


{% endblock %}