{% extends 'base.html' %}
{% load static %}

{% block content %}

<header class="masthead-account-asso">
    <div class="container h-100">
        <div class="row mt-5 pt-5">
            <div class="col-12 text-center">
            <h2 class="text-uppercase" style="color: black;">
                <a href="{% url 'account:welcome_association' %}" class="badge badge-light"> MON COMPTE
                </a>
            </h2>
            </div>
        </div>
        <hr class="divider my-4 py-4"/>
    </div>
</header>

<section class="account-infos">
    <div class="container h-100">
        <div class="row mt-1 mb-4">
            <div class="col-md-3 col-6">
                <ul class="list-group">
                  <a href="{% url 'account:show_information' %}" class="list-group-item list-group-item-action">
                      MES INFOS </a>
                  <a href="{% url 'account:show_association' %}" class="list-group-item list-group-item-action">
                      MON ASSOCIATION</a>
                  <a href="#" class="list-group-item list-group-item-action" style="display:none;">
                      MES DONS</a>
                  <a href="#" class="list-group-item list-group-item-action" style="display:none;">
                      MES COLLECTES</a>
                  <a href="#" class="list-group-item list-group-item-action" style="display:none;">
                      BESOIN D'AIDE ?</a>
                    <a href="{% url 'account:logout' %}" class="list-group-item list-group-item-action">
                        SE DECONNECTER</a>
                </ul>
            </div>


            <div class="col-6 col-md-9">
                {% for asso in association %}
                <h3 class="justify">{{asso.name}}</h3>
                {% endfor %}
                <br action="{% url 'account:update_asso' %}" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                    <p> Logo :</p>
                       {{ form.picture }}

                    <p style="padding-top: 2vw;"> Description :</p>
                       {{ form.description}}

                    <p style="padding-top: 2vw;"> Catégories :</p>
                       {{ form.category }}

                    <p style="padding-top: 2vw;">
                      <button type="submit">Upload</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>


{% endblock %}